@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext");
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
body.t-light {
  background-color: #ececec;
  color: #5282c4;
}
body.t-dark {
  background-color: #051835;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #c3c3c3;
}
.
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.u-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-input {
  outline: 0;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  height: 35px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}

.c-badge {
  font-size: 10px;
  font-weight: 700;
  min-width: 19px;
  padding: 5px;
  border-radius: 100px;
  display: block;
  line-height: 0.7;
  color: #fff;
  white-space: nowrap;
}
.c-badge--header-icon {
  position: absolute;
  right: -2px;
}
.t-light .c-badge {
  background-color: #f39c12;

}
.t-dark .c-badge {
  background-color: #3c8dbc;
  border: 1px solid #222d32;
}

.tooltip {
  width: 120px;
}
.tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  background-color: #051835;
  font-size: 12px;
  border-radius: 3px;
}
.tooltip-arrow {
  border-right-color: #051835 !important;
}

.hamburger-toggle {
  position: relative;
  padding: 0;
  background: transparent;
  height: 40px;
  border: 1px solid transparent;
  cursor: pointer;
  order: 1;
}
.hamburger-toggle [class*='bar-'] {
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  margin-bottom: 4px;
}
.hamburger-toggle [class*='bar-']:last-child {
  margin-bottom: 0;
}
.hamburger-toggle [class*='bar-']:hover [class*='bar-'] {
  background: #DE8C49;
}
.hamburger-toggle.is-opened {
  right:210px;
}
.hamburger-toggle.is-opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}
.hamburger-toggle.is-opened .bar-mid {
  opacity: 0;
}
.hamburger-toggle.is-opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  transform-origin: 15% 95%;
}
.hamburger-toggle:focus {
  outline-width: 0;
}
.t-light .hamburger-toggle [class*='bar-'] {
  background: #fff;
}
.t-dark .hamburger-toggle [class*='bar-'] {
  background: #fff;
}

.header-icons-group {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin-left: 70%;
}

.c-header-icon {
  position: relative;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  margin-right: 5%;
}
.c-header-icon i {
  font-size: 14px;
  line-height: 40px;
}
.c-header-icon--in-circle {
  border: 1px solid #d0d0d0;
  border-radius: 100%;
}
.c-header-icon:hover {
  border-color: #DE8C49;
}
.c-header-icon:hover i {
  color: #DE8C49;
}

.l-header {
  padding-left: 70px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}
.l-header__inner {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: stretch;
  border-bottom: 1px solid;
}
.sidebar-is-expanded .l-header {
  padding-left: 220px;
}
.t-light .l-header {
  background: #5282c4;
}
.t-light .l-header__inner {
  border-color: #cccccc;
}
.t-dark .l-header {
  background: #222d32;
}
.t-dark .l-header__inner {
  border-color: #184283;
}

.c-search {
  display: flex;
  height: 35px;
  margin-right: 20px;
  order: 2;
  margin-left: 40px;
}
.c-search__input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
  flex-basis: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-search__btn {
  border: 1px solid transparent;
  background-color: #689b0e;
  height: 35px;
  float: left;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 0;
  flex: 0 0 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.c-search.is-hovered .c-search__input {
  border-color: #DE8C49;
}
.c-search.is-hovered .c-search__btn {
  background-color: #DE8C49;
}

.c-dropdown {
  opacity: 0;
  text-align: left;
  position: absolute;
  flex-direction: column;
  display: none;
  width: 300px;
  top: 30px;
  right: -40px;
  background-color: #fff;
  overflow: hidden;
  min-height: 300px;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 5px 14px -1px #cecece;
  -moz-box-shadow: 0px 5px 14px -1px #cecece;
  box-shadow: 0px 5px 14px -1px #cecece;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.l-sidebar {
  width: 70px;
  position: absolute;
  z-index: 10;
  /*left:0;*/
  top: 0;
  bottom: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.l-sidebar .logo {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-sidebar .logo .logo__txt {
  font-size: 26px;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.l-sidebar__content {
  height: 100%;
  position: relative;
}
.sidebar-is-expanded .l-sidebar {
  width: 295px;
}
.t-light .l-sidebar {
  background: #222d32;
  background: #222d32;
  background: -moz-linear-gradient(top, #222d32 0%, #183765 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222d32), color-stop(100%, #183765));
  background: -webkit-linear-gradient(top, #222d32 0%, #183765 100%);
  background: -o-linear-gradient(top, #222d32 0%, #183765 100%);
  background: -ms-linear-gradient(top, #222d32 0%, #183765 100%);
  background: linear-gradient(to bottom, #222d32 0%, #183765 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0);
}
.t-light .l-sidebar .logo {
  background-color: #222d32;
}
.t-dark .l-sidebar {
  background: #222d32;
}
.t-dark .l-sidebar .logo {
  background-color: #222d32;
}

.c-menu ul {
  display: flex;
  flex-direction: column;
}
.c-menu ul .c-menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  max-width: 100%;
  height: 60px;
  border-bottom: 1px solid #173c75;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.c-menu ul .c-menu__item:before {
  position: absolute;
  content: " ";
  height: 0;
  width: 2px;
  left: 0;
  bottom: 0;
  background-color: #3c8dbc;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.c-menu ul .c-menu__item.is-active {
  border-left-color: #3c8dbc;
  background-color: #222d32;
}
.c-menu ul .c-menu__item.is-active i {
  color: #3c8dbc;
}
.c-menu ul .c-menu__item.is-active:before {
  height: 100%;
  opacity: 1;
}
.c-menu ul .c-menu__item:not(.is-active):hover {
  background-color: #DE8C49;
  border-left-color: #DE8C49;
}
.c-menu ul .c-menu__item i {
  flex: 0 0 70px;
  font-size: 18px;
  line-height: 60px;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.c-menu ul .c-menu__item .c-menu-item__title {
  flex-basis: 100%;
  padding-right: 10px;
  position: relative;
  left: 220px;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.c-menu ul .c-menu__item .c-menu-item__title span {
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-is-expanded .c-menu ul .c-menu__item .c-menu-item__title {
  left: 0px;
  opacity: 1;
}

main.l-main {
  width: 100%;

  padding: 70px 0 0 70px;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}
main.l-main .content-wrapper {
  padding: 25px;
  height: 100%;
}
main.l-main .content-wrapper .page-content {
  border-top: 1px solid #d0d0d0;
  padding-top: 25px;
}
main.l-main .content-wrapper--with-bg .page-content {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 25px;
}
.t-light main.l-main .content-wrapper .page-content {
  border-top: 1px solid #d0d0d0;
}
.t-light main.l-main .content-wrapper--with-bg .page-content {
  background: #fff;
  border: 1px solid #d0d0d0;
}
.t-dark main.l-main .content-wrapper .page-content {
  border-top: 1px solid #3c8dbc;
}
.t-dark main.l-main .content-wrapper--with-bg .page-content {
  background: #222d32;
  border: 1px solid #184283;
}
main.l-main .page-title {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}
.sidebar-is-expanded main.l-main {
  padding-left: 220px;
}
.fa{
  color:#fff;
}
.img{
  float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
 a{
  color:#fff;
}
 a:hover{
  text-decoration: none;
  color: #fff;
}
.table>thead>tr>th{
  text-align: center;
  color: #5282c4;
}
.table>tbody>tr>td
{
  color: #5282c4;

}
.form-horizontal .control-label{
  text-align: right;
  color: #5282c4;
}
