
.add_admin
{
	width: 100px;
  margin-top: 20px;
}
.levels
{
	margin-bottom: 5px;
}
#admin_repasswordinvalid,#admin_passwordinvalid,#admin_nameinvalid,#admin_emailinvalid,#invalid_image,#invalid_audio,#user_passwordinvalid,#user_nameinvalid,#user_emailinvalid
{
  color: #DC5960;
}
.dropdown-item:hover
{
	background: #F7F7F9;
}
.image
{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
#logout_button
{
	margin-top: 8px;
  margin-right: 20px;
}
.imge
{
	width: 50px;
	height: 50px;
}
.responsive
{

	width: 100%;
		overflow-y: auto;
		overflow: auto;
		margin: 0 0 1em;
}
.savebutton
{
margin-left: 45%;
padding-bottom: 3vw;
}
