.header_cover
{
  background: url(../img/header-banner-1.jpg) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
background-size: cover;
background-position: center center;
}
#profilepic
{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.shadow
{
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.levels_test
{
  margin-top: 5%;
  margin-bottom: 15%;
}
.title_levels_test
{
  margin-bottom: 2%;
}
.levels{
margin-top: 50px;
}
.levels:hover
{
  border-bottom: solid 5px #17A2B8;

}
.image
{
  width: 150px;
  height: 200px;

}
.question_block
{
  margin-top: 5%;
  margin-bottom: 3%;
}
.audio
{
  width: 70px;
  margin-top: 15px;

}
.footer
{
  font-size: xx-large;
  padding: 20px;
  background-color: #F2F5F8;
}
.card
{
  margin-top: 5%;
margin-bottom: 50px;
}
.next_btn
{
  color: white;
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.question_image
{
  width: 100px;
  height: 150px;
}
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #868D97;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color:#E33B4B;
}

/* optional styles, I'm using this for centering radiobuttons */
.flex {
  display: flex;
  align-items: center;
}
.question_text
{
  font-size: xx-large;
  background-color: #F2F5F8;
  padding-left: 38%;
padding-right: 40%;
}
.question_audio
{

  margin-bottom: 25px;
}
#profile_pic
{
  width: 100px;
border-radius: 50%;
}
.change_photo
{
  color: #E43B4B;
}
.change_photo:hover
{
  cursor: pointer;
}
.profile_block
{
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 10%;
}
#myModallogin input,#myModalregister input,#editModal input,#editpass input,.match_row input
{
  display: block;
width: 100%;
padding: .625rem;
margin-bottom: .375rem;
border-radius: .3125rem;
border: 1px solid #A7B0B7;
color: #252B2F;
transition: border .2s ease;
line-height: 1.2;
}
#myModallogin .btn,#myModalregister .btn,#editModal .btn,#editpass .btn
{
  color:white;
  width: 40%;
}
#myModalregister span,#editModal span,#editpass span
{
color:#E43B4B;
}
.match_row
{
margin-bottom: 15%;
}
.match_row img{
  width: 100px;
  height: 175px;
}
#dvSource,#dvDest
{
  border: 1px solid black;
  padding-bottom: 10%;
padding-top: 10%;
margin-bottom: 5%;
font-size: xx-large;
padding-left: 20%;
}
.alert-danger,.alert-success
{
font-size: x-large;
}
#login_btn,#register_btn
{
  margin-left: 20px;
}
