#submit_btn
{
  margin-right: 26%;
  color: white;
}
#wrapper h2{
    /*font-size: 8vmin;*/
    color: #DE8E4C;
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 0 1px 1px ;
}
label
{
  color: #5282C4;
  /*text-shadow: 0 1px 1px;*/
}
/*select
{
  color: #5282C4;
}*/
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
    outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),#Allcountries{
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: #e3c75e;
    position: absolute;
    left: 10px;
    top: 35px;
    width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
    width: 66%;
    cursor: pointer;
    background: #5282C4;
    padding: 13px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
  color: #404040;
    font-size: 27px;
    border: 1px solid #5282C4;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px  #DDDDDD, 0px 5px 3px 3px rgb(210, 210, 210);
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px  #DDDDDD, 0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px #DDDDDD, 0px 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-left: 20%;
    margin-top: 3%;
}
.popup_btn
{
 width: 15%;
    cursor: pointer;
    background: #e3c75e;
/*    padding: 13px 5px;*/
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #404040;
    font-size: 3vmin;
    border: 1px solid #e3c75e;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 2%;
margin-left: 2%;
padding-right: 2%;
margin-right: 2%;
margin-top: 1%;
margin-bottom: 1%;

}
#wrapper p.button input:hover{
    background: #5282C4;
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
    background: #5282C4;
    position: relative;
    top: 1px;
    border: 1px solid #5282C4;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

/*styling the links to change from one form to another */

p.change_link{
    position: absolute;
    color: rgb(127, 124, 124);
    left: 0px;
    height: 10px;
    width: 40px;
    padding: 17px 30px 20px 30px;
    font-size: 16px	;
    text-align: right;
    border-top: 1px solid rgb(219, 229, 232);
    -webkit-border-radius: 0 0  5px 5px;
    -moz-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
    background: rgb(225, 234, 235);
    background: -moz-repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
    background: -webkit-repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
    background: -o-repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
    background: repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
}
#wrapper p.change_link a {
    display: inline-block;
    font-weight: bold;
    background: rgb(247, 248, 241);
    padding: 2px 6px;
    color: #ffdb4d;
    margin-left: 10px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(203, 213, 214);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s  linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s  linear;
    transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
    /*color: rgb(57, 191, 215);*/
    background: rgb(247, 247, 247);
    /*border: 1px solid rgb(74, 179, 198);*/
}
#wrapper p.change_link a:active{
    position: relative;
    top: 1px;
}
/** Styling both forms **/
#register
{
    /*position: absolute;*/
    top: 0px;
    width: 70%;
    padding: 18px 6% 60px 6%;
    margin-left:15%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgb(247, 247, 247);
    /*border: 1px solid rgba(147, 184, 189,0.8);*/
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
    -webkit-animation-duration: 0.5s;

    -webkit-animation-fill-mode: both;

    -moz-animation-duration: 0.5s;

    -moz-animation-fill-mode: both;

    -o-animation-duration: 0.5s;

    -o-animation-fill-mode: both;

    -ms-animation-duration: 0.5s;

    -ms-animation-fill-mode: both;

    animation-duration: 0.5s;

    animation-fill-mode: both;
}
#invalidEmail,#invalidPhone,#invaliduser,#invalidnationalId,#invalidcity,#invalidaddress,#invaliddob,#invalididea,#invalidPhone_number,#invalidPhone2
{
    color:#c52d2f;
    padding-left: 1.5%;
}
#invalidusermiddlname,#invaliduserlastname
{
  color:#c52d2f;
  padding-left: 1.5%;
}
input:-webkit-autofill
{
    background-color: white;
}
body.modal-open .supreme-container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.navbar-brand {
    float: none !important;
    margin-top: -20px !important;

    }
    .navbar-brand > img{
    display:inline !important;
    }
    @font-face
    {
    font-family: play;
        src: url(playfairDisplay-Black.ttf);
    }
  .modal-body p
  {
  font-size:4.5vmin;
  font-family:play;
  }
