/**
 *  Master Slider
 *	version 1.0
 * 	Core css file
 */

.master-slider {
	position: relative;
	visibility: hidden;
	min-height:790px;
	-moz-transform: translate3d(0 , 0 , 0);
}

.master-slider h1,
.master-slider h2,
.master-slider p {
	font-size:130px;
	font-weight:bold;
	font-family: 'Cairo', sans-serif;
	color:#4582C3;
	font-weight:100;
	width:100%;
	text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.1);
}

.master-slider h2 {
	color:white;
	font-size:46px;
}

.master-slider p {
	font-size:17px;
	font-weight:100;
	line-height:35px;
}

.master-slider .center {
	text-align:center;
}

.master-slider p a.btn {
	text-shadow:none;
}

.ms-slide {
	overflow:hidden;
	height:100%;
}

.ms-slide-bgvideocont {
	-moz-opacity: .1;
	-khtml-opacity: .1;
	opacity: .1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=10);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
	filter:alpha(opacity=10s);
}

.master-slider.before-init{}

.master-slider img {max-width:none;}

.ms-ie img{border:none;}
.ms-ie8 * {opacity:inherit;filter:inherit;}
.ms-ie7   {zoom:1;}

.ms-loading-container{
	position:absolute;
	width:100%;
	top:0;
}

.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading {
	width: 36px;
	height: 36px;
	background: url(loading-2.gif) no-repeat center white;
	border-radius: 60px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -18px;
	opacity: 0.9;
}

/* grab cursor */
.ms-def-cursor{cursor:auto !important;}
.ms-grab-cursor{cursor: url("grab.png"), move;}
.ms-grabbing-cursor{cursor: url("grabbing.png"), move;}
.ms-ie .ms-grab-cursor{cursor: url("../masterslider/style/grab.cur"), move;}
.ms-ie .ms-grabbing-cursor {cursor: url("../masterslider/style/grabbing.cur"), move;}

.ms-view {
	margin:0px auto;
	overflow:hidden;
	position:relative;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.ms-view .ms-slide-container{position:relative;}

.ms-slide {
	position:absolute;
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	height:100%;
}

.ms-slide.selected {}

.ms-slide .ms-slide-bgcont{
	overflow:hidden;
	width: 100%;
}

.ms-container {position: relative; margin:0 auto;}
.ms-slide .ms-slide-bgcont img , .ms-container{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.ms-slide .ms-layer{position:absolute;}

.ms-slide .ms-slide-layers{
	position: absolute;
	overflow:hidden;
	width:100%;
	height: 100%;
	z-index: 10;
	top:0px;
	-webkit-transform: translateZ(0.1px);
	-moz-transform: translateZ(0.1px);
	-ms-transform: translateZ(0.1px);
	-o-transform: translateZ(0.1px);
	transform: translateZ(0.1px);
}

.ms-slide .ms-slide-video{
	position:absolute;
	top:0;
	z-index: 11;
	background:black;
	padding:0;
	margin: 0;
	border: none;
}

.ms-layer.video-box{background:black;}
.ms-layer.video-box iframe{
	padding:0;
	margin: 0;
	border: none;
	position: absolute;
	z-index: 10;
}
.ms-slide .ms-slide-vpbtn , .ms-slide .ms-video-btn{
	position:absolute;
	cursor: pointer;
	z-index: 12;
}

.ms-slide .ms-slide-vcbtn{
	position:absolute;
	cursor: pointer;
	z-index: 13;
}

.ms-video-img{
	position:absolute;
	width:100%;
	height:100%;
}

.ms-mask-frame{
	overflow:hidden;
	position:absolute;
	float:left;
}

/* controls */

.ms-thumb-list{
	overflow:hidden;
	position:absolute;
}
.ms-thumbs-cont{position: relative;}
.ms-thumb-frame img{width:100%;	height:auto;}
.ms-thumb-frame{
	cursor:pointer;
	float: left;
	overflow: hidden;
}

.ms-bullet{cursor:pointer;float: left;}

.ms-sbar .ms-bar{
	position:relative;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.ms-time-bar{
	-webkit-transition: width 120ms linear;
	-moz-transition: width 120ms linear;
	-ms-transition: width 120ms linear;
	-o-transition: width 120ms linear;
	transition: width 120ms linear;

}

.ms-ie7 .ms-tooltip-arrow{
	height:0px;
}

.ms-icon {
	padding:0;
}

.ms-icon i.fa {
	font-size:24px;
	height:60px;
	width:60px;
	background:#fff;
	color:#6ebff3;
	line-height:60px;
	padding:0 0 0 18px;
	margin:0;
	-webkit-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-ms-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

.ms-icon:hover i.fa {
	background:#6ebff3;
	color:#fff;
}

/**
* /////////////////////
* Custom code
* /////////////////////
*/
.ms-nav-next {

}

.ms-bullets.ms-dir-h {
	display:inline-block;
	text-align:center;
	position:absolute;
	top:97%;
	width:100%;
	left:50%;
	margin-left:-81px; /** Tweak to center buttons **/
}

.ms-bullets.ms-dir-h .ms-bullet {
	width:50px;
	position:relative;
	padding:0;
	top:0;
	left:0;
	height:7px;
	margin-right:6px;
	border:2px solid rgba(255,255,255,0.65);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display:inline-block;
}

.ms-bullets.ms-dir-h .ms-bullet:hover {
	border:2px solid rgba(255,255,255,1);
}

.ms-bullets.ms-dir-h .ms-bullet-selected {
	border:0;
	background:rgba(255,255,255,1.0);
}

.ms-bullets.ms-dir-h .ms-bullet-selected:hover {
	background:rgba(255,255,255,1.0);
	border:0;
}

.ms-bullets.ms-dir-h .ms-bullet {
	-webkit-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-ms-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
